body {
  font-family: "Arial", sans-serif;
  background-color: rgb(152, 255, 152); /* Light gray background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

.container:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #007bff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px; /* Increased margin */
  border: 1px solid #ccc;
  border-radius: 8px; /* Rounded corners */
  transition: border-color 0.3s ease; /* Smooth border transition */
}

input:focus {
  border-color: #007bff; /* Highlight border color on focus */
}

.btn {
  cursor: pointer;
  padding: 12px 20px; /* Increased padding */
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth button transition */
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; /* Increased padding */
  margin-top: 20px; /* Increased margin */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.task-list-container {
  max-height: 400px; /* Set the max height based on your design */
  overflow-y: auto;
}

.task-list {
  overflow: auto;
}
